.content-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.left-section, .center-section, .right-section {
    flex: 1;
    padding: 20px;
    background-color: #f0f0f0;
    margin-bottom: 20px;
}

.center-section {
    min-width: fit-content;
}

.center-section {
    min-height: 80vh;
    min-width: 60vh;
    background-color: rgb(222, 222, 222);
}

#map {
    width: 100%;
    height: 100%;
    padding-bottom: 100%;
    position: relative;
}

@media (max-width: 768px) {
    .left-section,
    .center-section,
    .right-section {
        flex: auto;
        border: none;
        margin: 0;
    }
}

.routeListbox {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
    font-size: 16px;
    color: #333;
    transition: border-color 0.2s;
    white-space: normal; /* Allow text to wrap */
}

.square-marker {
    width: 10px; /* Adjust the width and height as needed */
    height: 10px;
    background-color: blue; /* Adjust the background color as needed */
    border: 2px solid whitesmoke; /* Add a border if desired */
    border-radius: 4px; /* To make the square slightly rounded */
}

.routeListbox:hover {
    border-color: #999;
}

.routeListbox:focus {
    border-color: dodgerblue;
    outline: none;
    box-shadow: 0 0 0 2px dodgerblue;
}

/* Style for listbox options */
.routeListbox option {
    padding: 8px;
    font-size: 14px;
    white-space: normal; /* Allow text to wrap within options */
}

.routeListbox option:hover {
    background-color: #f0f0f0;
}

select {
    height: auto;
    overflow: auto;
}